.Search {
    text-align: center;
}


.Search-logo {
    margin-top: 5vw;
    width: 30vw; /* Define el ancho que desees */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
  
.Search-header {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column; /* Coloca los elementos en columna */
}

.form-control {
    margin-top: 3vw;
    width: 38vw; /* Define el ancho que desees */
    height: 2.8vw;
    border: 0.1vw solid #E39400; /* Define el color y grosor del borde */
    background-color: rgb(212, 212, 212);
    box-shadow: none; /* Elimina cualquier sombra */
    font-size: 1.6vw;
    text-align: center;
    border-radius: 0.6vw; /* Ajusta este valor para redondear los bordes */
  }

  .form-contro {
    margin-top: 2vw;
    width: 38vw; /* Define el ancho que desees */
    height: 10vw;
    border: 0.1vw solid #E39400; /* Define el color y grosor del borde */
    background-color: rgb(212, 212, 212);
    box-shadow: none; /* Elimina cualquier sombra */
    font-size: 1.6vw;
    text-align: center;
    border-radius: 1vw; /* Ajusta este valor para redondear los bordes */
  }

  p {
    font-size: 1.6vw;
  }


  .form-list {
    width: 38vw; /* Define el ancho que desees */
    height: 2.8vw;
    border: 0.1vw solid #E39400; /* Define el color y grosor del borde */
    background-color: rgb(212, 212, 212);
    box-shadow: none; /* Elimina cualquier sombra */
    font-size: 1.6vw;
    text-align: center;
    border-radius: 0.5vw; /* Ajusta este valor para redondear los bordes */
  }

  input::placeholder {
    color: black; /* Cambia el color por el que desees */
  }

.list-control {
    margin-top: 6vw;
    width: 39vw; /* Define el ancho que desees */
    height: 3.4vw;
    border: 0.1vw solid #E39400; /* Define el color y grosor del borde */
    background-color: rgb(212, 212, 212);
    box-shadow: none; /* Elimina cualquier sombra */
    font-size: 1.6vw;
    border-radius: 0.6vw; /* Ajusta este valor para redondear los bordes */
}
  
  .boton {
    margin-top: 1vw; /* Espacio encima del botón */
    background-color: #E39400;
    border: none; /* Elimina el color del borde */
    border-radius: 0.6vw; /* Ajusta este valor para redondear los bordes */
    color: white; /* Color del texto dentro del botón */
    font-size: 1.6vw;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 12vw; /* Define el ancho que desees */
    height: 2.5vw;
    

  }


  .input-icon {
    position: absolute;
    margin-left: 35vw; /* Ajusta la posición del icono */
    margin-top: 12.5vw;
    font-size: 2vw; /* Ajusta el tamaño del icono */
    cursor: pointer;
  }


  .image-boxes-container {
    display: flex;
    justify-content: center; /* Cambiado a 'center' para alinear los cuadros en el centro */
    gap: 6vw; /* Espacio entre los cuadros */
    
  }
  
  .image-box {
    width: 14vw;
    height: 14vw;
    background-size: cover;
    background-position: center;
    border-radius: 4vw; /* Ajusta este valor para redondear los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  .image-name {
    display: none; /* Ocultar el texto por defecto */
  }

  .image-box::after {
    content: attr(data-text); /* Mostrar el texto especificado en el atributo data-text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
  }
  .image-box:hover::after {
    display: block; /* Mostrar el texto al hacer hover sobre la imagen */
  }
