@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Ruda:wght@400..900&family=Syne&family=Wix+Madefor+Display:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}
